BACKEND/ADMIN/*/node_modules
BACKEND/ADMIN/*/.env

BACKEND/ADMIN/admin-frontend

FRONTEND/*
my-react-app*

SERVICE/file_upload_private_api/node_modules/*
SERVICE/file_upload_private_api/.serverless
SERVICE/file_upload_private_api/package-lock*
SERVICE/file_upload_private_api/package-lock*
SERVICE/file_upload_private_api/.vscode
SERVICE/file_upload_private_api/.serverless

SERVICE/file_upload_public_api/node_modules/*
SERVICE/file_upload_public_api/.serverless
SERVICE/file_upload_public_api/package-lock*
SERVICE/file_upload_public_api/.vscode
SERVICE/file_upload_public_api/package-lock*
SERVICE/file_upload_public_api/.serverless