BACKEND/ADMIN/*/node_modules
BACKEND/ADMIN/*/.env

BACKEND/ADMIN/admin-frontend

FRONTEND/*
my-react-app*

SERVICE/file_upload_api/node_modules/*
SERVICE/file_upload_api/boto3/*
SERVICE/file_upload_api/botocore/*
SERVICE/file_upload_api/urllib3/*
SERVICE/file_upload_api/requests/*
SERVICE/file_upload_api/s3transfer/*
SERVICE/file_upload_api/certifi/*
SERVICE/file_upload_api/s3transfer/*

SERVICE/file_upload_api/boto3/*
SERVICE/file_upload_api/boto3-1.37.21.dist-info/*
SERVICE/file_upload_api/botocore/*
SERVICE/file_upload_api/botocore-1.37.21.dist-info/*



SERVICE/file_upload_api/certifi-2025.1.31.dist-info 
SERVICE/file_upload_api/charset_normalizer 
SERVICE/file_upload_api/charset_normalizer-3.4.1.dist-info 
SERVICE/file_upload_api/dateutil SERVICE/file_upload_api/idna 
SERVICE/file_upload_api/idna-3.10.dist-info
SERVICE/file_upload_api/jmespath/* 
SERVICE/file_upload_api/jmespath-1.0.1.dist-info/*
SERVICE/file_upload_api/node_modules/*
SERVICE/file_upload_api/python_dateutil-2.9.0.post0.dist-info/*
SERVICE/file_upload_api/requests/*
SERVICE/file_upload_api/requests-2.32.3.dist-info/* 
SERVICE/file_upload_api/s3transfer/* 
SERVICE/file_upload_api/s3transfer-0.11.4.dist-info/* 
SERVICE/file_upload_api/six-1.17.0.dist-info/* 
SERVICE/file_upload_api/urllib3/*
SERVICE/file_upload_api/urllib3-1.26.20.dist-info/*



SERVICE/file_upload_api/.serverless


# Python-related files
SERVICE/file_upload_api/__pycache__/
SERVICE/file_upload_api/*.py[cod]
SERVICE/file_upload_api/*.pyo
SERVICE/file_upload_api/*.pyd
SERVICE/file_upload_api/*.so
SERVICE/file_upload_api/*.egg
SERVICE/file_upload_api/*.egg-info/
SERVICE/file_upload_api/dist/
SERVICE/file_upload_api/build/
SERVICE/file_upload_api/venv/
SERVICE/file_upload_api/.env

# Serverless Framework
SERVICE/file_upload_api/.serverless/
SERVICE/file_upload_api/.serverless_plugins/
SERVICE/file_upload_api/.nyc_output/
SERVICE/file_upload_api/coverage/

# Pip dependencies
SERVICE/file_upload_api/pip-log.txt
SERVICE/file_upload_api/pip-delete-this-directory.txt
SERVICE/file_upload_api/pip-wheel-metadata/

# Virtual environments
SERVICE/file_upload_api/.venv/
SERVICE/file_upload_api/venv/
SERVICE/file_upload_api/bin/
SERVICE/file_upload_api/lib/
SERVICE/file_upload_api/lib64/
SERVICE/file_upload_api/share/
SERVICE/file_upload_api/pyvenv.cfg

# MacOS-related files
SERVICE/file_upload_api/.DS_Store

# Logs & Debugging
SERVICE/file_upload_api/logs/
SERVICE/file_upload_api/debug.log
SERVICE/file_upload_api/npm-debug.log
SERVICE/file_upload_api/yarn-debug.log
SERVICE/file_upload_api/yarn-error.log

# AWS & Credentials
SERVICE/file_upload_api/.aws-sam/
SERVICE/file_upload_api/.aws/
SERVICE/file_upload_api/terraform.tfstate*
SERVICE/file_upload_api/terraform.tfstate.backup

# IDE files
SERVICE/file_upload_api/.vscode/
SERVICE/file_upload_api/.idea/
SERVICE/file_upload_api/*.sublime-project
SERVICE/file_upload_api/*.sublime-workspace
SERVICE/file_upload_api/six.py
SERVICE/file_upload_api/dateutil/__init__.py
SERVICE/file_upload_api/dateutil/_common.py
SERVICE/file_upload_api/dateutil/_version.py
SERVICE/file_upload_api/dateutil/easter.py
SERVICE/file_upload_api/dateutil/relativedelta.py
SERVICE/file_upload_api/dateutil/rrule.py
SERVICE/file_upload_api/dateutil/tzwin.py
SERVICE/file_upload_api/dateutil/utils.py
SERVICE/file_upload_api/dateutil/__pycache__/__init__.cpython-39.pyc
SERVICE/file_upload_api/dateutil/__pycache__/_common.cpython-39.pyc
SERVICE/file_upload_api/dateutil/__pycache__/_version.cpython-39.pyc
SERVICE/file_upload_api/dateutil/__pycache__/easter.cpython-39.pyc
SERVICE/file_upload_api/dateutil/__pycache__/relativedelta.cpython-39.pyc
SERVICE/file_upload_api/dateutil/__pycache__/rrule.cpython-39.pyc
SERVICE/file_upload_api/dateutil/__pycache__/tzwin.cpython-39.pyc
SERVICE/file_upload_api/dateutil/__pycache__/utils.cpython-39.pyc
SERVICE/file_upload_api/dateutil/parser/__init__.py
SERVICE/file_upload_api/dateutil/parser/_parser.py
SERVICE/file_upload_api/dateutil/parser/isoparser.py
SERVICE/file_upload_api/dateutil/parser/__pycache__/__init__.cpython-39.pyc
SERVICE/file_upload_api/dateutil/parser/__pycache__/_parser.cpython-39.pyc
SERVICE/file_upload_api/dateutil/parser/__pycache__/isoparser.cpython-39.pyc
SERVICE/file_upload_api/dateutil/tz/__init__.py
SERVICE/file_upload_api/dateutil/tz/_common.py
SERVICE/file_upload_api/dateutil/tz/_factories.py
SERVICE/file_upload_api/dateutil/tz/tz.py
SERVICE/file_upload_api/dateutil/tz/win.py
SERVICE/file_upload_api/dateutil/tz/__pycache__/__init__.cpython-39.pyc
SERVICE/file_upload_api/dateutil/tz/__pycache__/_common.cpython-39.pyc
SERVICE/file_upload_api/dateutil/tz/__pycache__/_factories.cpython-39.pyc
SERVICE/file_upload_api/dateutil/tz/__pycache__/tz.cpython-39.pyc
SERVICE/file_upload_api/dateutil/tz/__pycache__/win.cpython-39.pyc
SERVICE/file_upload_api/dateutil/zoneinfo/__init__.py
SERVICE/file_upload_api/dateutil/zoneinfo/dateutil-zoneinfo.tar.gz
SERVICE/file_upload_api/dateutil/zoneinfo/rebuild.py
SERVICE/file_upload_api/dateutil/zoneinfo/__pycache__/__init__.cpython-39.pyc
SERVICE/file_upload_api/dateutil/zoneinfo/__pycache__/rebuild.cpython-39.pyc
SERVICE/file_upload_api/idna/__init__.py
SERVICE/file_upload_api/idna/codec.py
SERVICE/file_upload_api/idna/compat.py
SERVICE/file_upload_api/idna/core.py
SERVICE/file_upload_api/idna/idnadata.py
SERVICE/file_upload_api/idna/intranges.py
SERVICE/file_upload_api/idna/package_data.py
SERVICE/file_upload_api/idna/py.typed
SERVICE/file_upload_api/idna/uts46data.py
SERVICE/file_upload_api/idna/__pycache__/__init__.cpython-39.pyc
SERVICE/file_upload_api/idna/__pycache__/codec.cpython-39.pyc
SERVICE/file_upload_api/idna/__pycache__/compat.cpython-39.pyc
SERVICE/file_upload_api/idna/__pycache__/core.cpython-39.pyc
SERVICE/file_upload_api/idna/__pycache__/idnadata.cpython-39.pyc
SERVICE/file_upload_api/idna/__pycache__/intranges.cpython-39.pyc
SERVICE/file_upload_api/idna/__pycache__/package_data.cpython-39.pyc
SERVICE/file_upload_api/idna/__pycache__/uts46data.cpython-39.pyc
SERVICE/file_upload_api/.requirements.zip
SERVICE/file_upload_api/package-lock.json
